.footer {
  text-align: center;
  background: var(--primary-color);
  margin-top: 2rem;
}

.footer-intro {
  padding: 1rem;
}

.footer-intro a:hover {
  text-decoration: underline;
}

.footer-icon {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.footer-icon i:hover {
  color: var(--text-color-light);
}

.footer-copyright {
  padding: 1rem;
}
