@import url("https://saraniui.netlify.app/common_css/sarani_ui.css");
@import url("https://unpkg.com/mockman-js@latest/dist/style.css");

/*Reset CSS*/
* {
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  line-height: 1.5;
  color: var(--text-color);
}

:root {
  --text-color: #333;
  --text-color-light: #555;
  --text-color-white: #eee;
  --color-white: #fff;
  --color-red: red;
  --primary-color: #f5ba13;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
